@import "./components/layout";
@import "{}/node_modules/angular2-meteor-accounts-ui/build/login-buttons.scss";


.loading-wrapper {
  width: 450px;
  height: 300px;
  position: absolute;
  top: -50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #66b3ff;
    border-bottom: 16px solid #66b3ff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    text-align: center;
    margin-left: 115px;
    margin-top: 50px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

