<div [hidden]="!isLoading" class="loader-line"></div>

<sebm-google-map [latitude]="lat_munich" [longitude]="lng_munich" [zoom]="zoom_munich">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>

    <sebm-google-map-marker
            *ngFor="let device of devices | async"
            (markerClick)="clickedMarker(device.$key)"
            [latitude]="device.l[0]"
            [longitude]="device.l[1]"
            [label]="device.$key">

        <sebm-google-map-info-window>
            <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>

    </sebm-google-map-marker>
</sebm-google-map>